<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
	id="WebApp_ID" version="4.0">

	<servlet>
		<servlet-name>fcs</servlet-name>
		<servlet-class>kr.co.jhta.mvc.servlet.FrontControllerServlet</servlet-class>
		<init-param>
			<param-name>packages</param-name>
			<param-value>kr.co.jhta.store.controller</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
   <servlet-mapping>
   		<servlet-name>fcs</servlet-name>
   		<url-pattern>*.html</url-pattern>
   </servlet-mapping>
   
   <jsp-config>
   		<jsp-property-group>
   			<url-pattern>*.jsp</url-pattern>
   			<include-prelude>/WEB-INF/views/common/tags.jsp</include-prelude>
   		</jsp-property-group>
   </jsp-config>
   
   <error-page>
   		<error-code>404</error-code>
   		<location>/WEB-INF/views/errors/notfound.jsp</location>
   </error-page>
</web-app>